extends layout.pug

block content
    h3= task.name
    div(class='py-4')
        p Are you sure you want to delete this task?
    div
        form(action=`/tasks/delete/${task.id}` method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            button(class='btn btn-danger' type='submit') Delete Task
            a(class='btn btn-warning ml-2' href=`/tasks/${task.id}` role='button') Cancel
