extends layout.pug

append head

  link(rel="stylesheet" href="/stylesheets/main.css")

block content
  h1(class="aboutUsTitle") fetchThis Team
    div(class="extraTitle") Hardworking and Overachieving Pet Owners!
  div(class="aboutUsOuterContainer")
    div(class="aboutUsInnerContainer") Our GitHub & LinkedIn Profiles:
      div(class="eachPerson")
        img(src="/picFolder/Warren.png" class='personPic')
        div(class="eachPersonLinks")
          a(href="https://github.com/tamagrijr") Project Advisor: Warren Tamagri's Github
          a(href="https://www.linkedin.com/in/warren-tamagri-5648a71ba/") Project Advisor: Warren Tamagri's LinkedIn
      div(class="eachPerson")
        img(src="/picFolder/Alexandra.png" class='personPic')
        div(class="eachPersonLinks")
          a(href="https://github.com/AlexandraBouillon") Alexandra Bouillon's Github
          a(href="https://www.linkedin.com/in/alexandrabouillon/") Alexandra Bouillon's LinkedIn
      div(class="eachPerson")
        img(src="/picFolder/Eb.png" class='personPic')
        div(class="eachPersonLinks")
          a(href="https://github.com/ebtayara") Ebrahim Tayara's Github
          a(href="https://www.linkedin.com/in/ebrahim-tayara-b9b50871/") Ebrahim Tayara's LinkedIn
      div(class="eachPerson")
        img(src="/picFolder/Eddy.png" class='personPic')
        div(class="eachPersonLinks")
          a(href="https://github.com/Eddy220") Eddy Kim's Github
          a(href="https://www.linkedin.com/in/edward-kim-a97538215/") Eddy Kim's LinkedIn
      div(class="eachPerson")
        img(src="/picFolder/Sylvia.png" class='personPic')
        div(class="eachPersonLinks")
          a(href="https://github.com/sonwuana1") Sylvia Onwuana's Github
          a(href="https://www.linkedin.com/in/sylvia-o/") Sylvia Onwuana's LinkedIn
