extends layout.pug

append head

  link(rel="stylesheet" href="/stylesheets/main.css")

block content
  h1(class="aboutUsTitle") fetchThis Team
    div(class="extraTitle") Hardworking and Overachieving Pet Owners!
  div(class="aboutUsOuterContainer")
    div(class="aboutUsInnerContainer") Our GitHub Profiles:
      div(class="eachPerson")
        img(src="/picFolder/Warren.png" class='personPic')
        a(href="https://github.com/tamagrijr") Project Advisor: Warren Tamagri
      div(class="eachPerson")
        img(src="/picFolder/Alexandra.png" class='personPic')
        a(href="https://github.com/AlexandraBouillon") Alexandra Bouillon
      div(class="eachPerson")
        img(src="/picFolder/Eb.png" class='personPic')
        a(href="https://github.com/ebtayara") Ebrahim Tayara
      div(class="eachPerson")
        img(src="/picFolder/Eddy.png" class='personPic')
        a(href="https://github.com/Eddy220") Eddy Kim
      div(class="eachPerson")
        img(src="/picFolder/Sylvia.png" class='personPic')
        a(href="https://github.com/sonwuana1") Sylvia Onwuana
