extends layout.pug

include utils.pug

block content
    form(action='/tasks/add' method='post')
        include taskForm.pug
        div
            textarea(type='textarea' class='taskTextContainer') Add a Task...
        div(class='addButton')
            button(type='submit' class='taskButton') Add Task
            a(href='/' class='cancelTask') Cancel
