extends layout.pug
//- include utils.pug
append head
    link(rel="stylesheet" href="/stylesheets/editForm.css")
block content
    body
        form(action=`/tasks/${task.id}/edit` method='POST' class='editForm')
            input(type='hidden', name='_csrf', value=csrfToken)
            label(for="name" class='editFormLabel') Name
            input(type="text" value=task.name id="name" name="name")
            label(for="description" class='editFormLabel') Description
            input(type="text" value=task.description id="description" name="description")
            input(type="submit" value="submit")
