extends layout.pug
//- include utils.pug
append head
    link(rel="stylesheet" href="/stylesheets/main.css")
block content
    body
        form(action=`/tasks/${task.id}/edit` method='POST')
            input(type='hidden', name='_csrf', value=csrfToken)
            label Edit Task:
            input(type="text" name="name")
            button(type='submit' role='button') Submit
