extends layout.pug

include utils.pug

block content
    form(action=`/tasks/edit/${task.id}` method='post')
        include taskForm.pug
        div(class='py-4')
            button(type='submit' class='btn btn-primary') Edit Task
            a(href='/' class='btn btn-warning ml-2') Cancel
