extends layout.pug

include utils.pug

block content
    form(action=`/tasks/edit/${task.id}` method='post')
        include taskForm.pug
        div(class='editButton')
            button(type='submit' class='editButton') Edit Task
            a(href='/' class='cancelEdit') Cancel
