extends layout.pug
include utils.pug
append head
    link(rel="stylesheet" href="/stylesheets/main.css")
block content
    h1(class='editedTask' value=selectedTask - this needs to change)
    form(action=`/tasks/edit/${task.id}` method='post')
        include taskForm.pug
            a(href='/' class='cancelEdit') Back to Tasks
