extends layout.pug

append head
  link(rel="stylesheet" href="/stylesheets/lists.css")


block content
  h1(class="listsTitle") Current Lists:
    div(class="listsContainer")
      h2(class="listsTitle")
      if lists
        each list in lists
          div(class="listsFlexContainer")
            p.name= list.name
            a(href=`/lists/${list.id}/edit` role='button') Edit
            a(href=`/lists/delete/${list.id}` role='button') DELETE
  div(class="")
    a(href='/lists/add' role='button') Add
