extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/lists.css")
  //- add page specific js
  //- script(src="/javascripts/index.js" type="module" defer)

block content
  body
    div(class='deleteConfirmation')
      p Are you sure you want to delete this list?
        form(action=`/lists/delete/${list.id}` method='post')
          input(type='hidden' name='_csrf' value=csrfToken)
          div
            label Pending:
            //- p=list.name
            button(type='submit') DELETE
