extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  //- script(src="/javascripts/index.js" type="module" defer)
block content
    body
        form(action=`/lists/${list.id}/edit` method='post')
          input(type='hidden' name='_csrf' value=csrfToken)
          div
            label Edit List:
            input(type="text" name="name")
            button(type='submit') Update
            a(href=`/lists` role='button') Submit
