extends layout.pug
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/lists.css")
  //- add page specific js
  //- script(src="/javascripts/index.js" type="module" defer)
block content
  body
    div(class='deleteConfirmation')
      p Are you sure you want to delete this task?
        form(action=`/tasks/${task.id}/delete` method='POST')
          input(type='hidden' name='_csrf' value=csrfToken)
          div
            label Pending:
            //- p=task.name
            button(type='submit') DELETE
