.imageContainer {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.fetchThisImg {
    height: 150px;
    width: 375px;
    margin: auto;
    max-width: 375px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.headerText {
    display: inline-block;
    color: #bc4749;
    font-weight: bold;
    font-size: 20px;
    margin: auto;
    max-width: 375px;
    text-align: center;
}

body {
    background: #DEF6CA;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scroll-snap-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #b4a0e5;
  color: #bc4249;
  font-weight: bold;
  text-align: center;
}

.navFooter div {
  display: inline-block;
  padding-bottom: 30px;
}

.main {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#slider {
    overflow: hidden;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
       left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
}
