.loginHeader {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin: 10px;
}

.formContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signupContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginOuterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 400px;
}

.loginInnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid grey;
  background-color: #a7c957;
  border-radius: 10px;
  width: 45%;
  margin: 10px;
  padding: 10px;
}

.loginContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.signupOuterContainer {
  display: flex;
  justify-content: space-around;
}

.signupInnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid grey;
  background-color: #a7c957;
  border-radius: 10px;
  width: 55%;
  margin: 10px;
  padding: 10px;
}

.signupHeader {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin: 10px;
}

.submitButton {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.errorContainer {
  list-style: none;
}
.error {
  color: red;
}
