.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
  flex-wrap:wrap;
  cursor: pointer;
  background-color: honeydew;
  text-decoration: none;
  border-radius: 8px;

  /* width: 100%; */
}

.bar {
  position: static;
  top: 0;
  width: 100%;
  left: 0;
  height: 95px;
  background-color: #B4A0E5;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border: 2px solid grey;
  flex-wrap: wrap;
}

.navSearchContainer {

}

.navSearchBar {
  margin: auto;
}

.homeBtn {
  height: 40px;
  width: 40px;
  margin: auto;
  max-width: 40px;
}
